<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos da Fatec Sorocaba</title>
    <h1>Cursos da Fatec Sorocaba</h1>
</head>
<body>
    <ul>Os cursos são:</ul>
    <li>Analise e Desenvolvimento de Sistemas</li>
</body>
</html>